.top-bar {
  padding: 20px;
  background-color: aliceblue;
  font-weight: 600;
}

.row {
  display: flex;
}

.column-1 {
  flex: 55%;
  padding: 20px;
}

.column-2 {
  flex: 45%;
}

p:nth-child(2) {
  margin-bottom: 50px;
}